[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "==2.2.2"
flask-migrate = "==3.1.0"
flask-sqlalchemy = "==2.5.1"
gunicorn = "==20.1.0"
jinja2 = "==3.1.2"
pipenv = "==11.9.0"
psycopg2-binary = "==2.9.3"
virtualenv = "==20.16.3"
virtualenv-clone = "==0.3.0"

[dev-packages]

[requires]
python_version = "3.8"
